.progress-bar {
  .progress-bar-container {
    border-radius: 5px;
    overflow: hidden;
    height: 10px;
    margin: 0 auto;
    margin-top: 40px;

    .progess-bar-fill {
      border-radius: 5px;
      height: 100%;
      transition: all 1s linear;
      text-align: center;
      background-color: #6caf00;
      color: #ffffff;
    }
  }
}
