.-text-left {
  text-align: left;
}

.-text-center {
  text-align: center;
}

.-text-right {
  text-align: right;
}

.-ml-none {
  margin-left: 0;
}

.-ml-xs {
  margin-left: 2px;
}

.-ml-sm {
  margin-left: 4px;
}

.-ml-md {
  margin-left: 8px;
}

.-ml-lg {
  margin-left: 16px;
}

.-ml-xl {
  margin-left: 32px;
}

.-mr-none {
  margin-right: 0;
}

.-mr-xs {
  margin-right: 2px;
}

.-mr-sm {
  margin-right: 4px;
}

.-mr-md {
  margin-right: 8px;
}

.-mr-lg {
  margin-right: 16px;
}

.-mr-xl {
  margin-right: 32px;
}

.-mt-none {
  margin-top: 0;
}

.-mt-xs {
  margin-top: 2px;
}

.-mt-sm {
  margin-top: 4px;
}

.-mt-md {
  margin-top: 8px;
}

.-mt-lg {
  margin-top: 16px;
}

.-mt-xl {
  margin-top: 32px;
}

.-mb-none {
  margin-bottom: 0;
}

.-mb-xs {
  margin-bottom: 2px;
}

.-mb-sm {
  margin-bottom: 4px;
}

.-mb-md {
  margin-bottom: 8px;
}

.-mb-lg {
  margin-bottom: 16px;
}

.-mb-xl {
  margin-bottom: 32px;
}

.-full-width {
  width: 100%;
}

.-full-height {
  height: 100%;
}

.-display-block {
  display: block;
}

.-display-inline-block {
  display: inline-block;
}

.-display-none {
  display: none !important;
}

.-nowrap {
  white-space: nowrap;
}

.-cursor-pointer {
  cursor: pointer;
}

@color-gold: #f8Bf29;
@color-silver: #c0c0c0;
@color-bronze: #d69872;
@color-iron: #a94442;

@color-accepted: #009a04;
@color-rejected: #f75757;
@color-frozen: #727bec;

@color-marker-red: #ff8989;
@color-marker-orange: #ffa67e;
@color-marker-yellow: #fff275;
@color-marker-green: #64de7c;
@color-marker-blue: #6dbeff;
@color-marker-purple: #d384ff;
@color-marker-pink: #ffc9f2;


@color-bg: #ffffff;

.error {
  margin-top: 30px;
  margin-bottom: 120px;
  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}

.table {
  border-spacing: 0;
  border-collapse: collapse;

  thead>tr>th {
    padding: 8px;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
  }

  tbody>tr>td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
  }
}

.ranklist {
  .accepted {
    background: #99ff99;
  }

  .failed {
    background: #ff9999;
  }

  .frozen {
    background: #c8d6fa;
  }

  .fb {
    background: #009900;
    color: #fff;
  }

  .fb .attempted {
    color: #f0f0f0;
  }

  .gold {
    border-right: 8px solid @color-gold;
  }

  .silver {
    border-right: 8px solid @color-silver;
  }

  .bronze {
    border-right: 8px solid @color-bronze;
  }

  .iron {
    border-right: 8px solid @color-iron;
  }

  .rows {
    table {
      table-layout: fixed;
      border-spacing: 0;
      border-collapse: collapse;

      thead>tr>th {
        padding: 8px;
        vertical-align: middle;
        border-bottom: 1px solid #ddd;
        min-width: 50px;
        position: sticky;
        top: 0;
        background-color: rgba(255, 255, 255, .7);
        backdrop-filter: saturate(180%) blur(20px);

        &.series {
          min-width: 40px;
        }
      }

      tbody>tr>td {
        padding: 8px;
        border-bottom: 1px solid #ddd;
        vertical-align: middle;

        .user-second-name {
          margin: 0;
          font-size: 12px;
          color: rgb(130, 130, 130);
        }
      }
    }
  }

  img {
    max-width: 100%;
  }

  .marker {
    display: inline-block;
    border-radius: 100%;
    width: 12px;
    height: 12px;

    &.marker-red {
      background-color: @color-marker-red;
    }

    &.marker-orange {
      background-color: @color-marker-orange;
    }

    &.marker-yellow {
      background-color: @color-marker-yellow;
    }

    &.marker-green {
      background-color: @color-marker-green;
    }

    &.marker-blue {
      background-color: @color-marker-blue;
    }

    &.marker-purple {
      background-color: @color-marker-purple;
    }

    &.marker-pink {
      background-color: @color-marker-pink;
    }
  }

  .marker-bg {
    background-color: @color-bg;

    &.marker-red {
      background-image: linear-gradient(90deg, @color-bg 0%, @color-marker-red 100%);
    }

    &.marker-orange {
      background-image: linear-gradient(90deg, @color-bg 0%, @color-marker-orange 100%);
    }

    &.marker-yellow {
      background-image: linear-gradient(90deg, @color-bg 0%, @color-marker-yellow 100%);
    }

    &.marker-green {
      background-image: linear-gradient(90deg, @color-bg 0%, @color-marker-green 100%);
    }

    &.marker-blue {
      background-image: linear-gradient(90deg, @color-bg 0%, @color-marker-blue 100%);
    }

    &.marker-purple {
      background-image: linear-gradient(90deg, @color-bg 0%, @color-marker-purple 100%);
    }

    &.marker-pink {
      background-image: linear-gradient(90deg, @color-bg 0%, @color-marker-pink 100%);
    }
  }

  .problem-stats {
    font-size: 12px;
  }
}

a {
  text-decoration: none;
  color: #027eea;

  &:hover {
    text-decoration: underline;
  }
}

#progressbar {
  border-radius: 5px;
  overflow: hidden;
  height: 10px;
  margin: 0 auto;
  margin-top: 40px;
}

#fill {
  border-radius: 5px;
  height: 100%;
  transition: all 1s linear;
  text-align: center;
  background-color: #6caf00;
  color: #ffffff;
}

@keyframes masked-animation {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -100% 0;
	}
}

.solution-result-text {
  font-weight: 500;
  &.result-fb {
    @color-accepted-masked: #03f90b;
    color: @color-accepted;
    background-image: linear-gradient(90deg, @color-accepted, @color-accepted-masked 25%, @color-accepted 50%, @color-accepted-masked 75%, @color-accepted);
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-clip: text;
    background-size: 200% 100%;
    animation: masked-animation 2s infinite linear;
  }
  &.result-ac {
    color: @color-accepted;
  }
  &.result-rj {
    color: @color-rejected;
  }
  &.result-fz {
    color: @color-frozen;
  }
}

.solutions-table {
  width: 100%;
  font-size: 15px;

  thead>tr>th {
    padding: 6px;
    padding-top: 0;
  }

  tbody>tr>td {
    padding: 6px;
  }

  tbody>tr:last-of-type {
    &>td {
      border-bottom: none;
    }
  }
}

.rc-dialog {
  .rc-dialog-header {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 48px;

    .rc-dialog-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .rc-dialog-close {
    padding: 0 0 12px;
  }
}
