.-text-left {
  text-align: left;
}

.-text-center {
  text-align: center;
}

.-text-right {
  text-align: right;
}

.-ml-none {
  margin-left: 0;
}

.-ml-xs {
  margin-left: 2px;
}

.-ml-sm {
  margin-left: 4px;
}

.-ml-md {
  margin-left: 8px;
}

.-ml-lg {
  margin-left: 16px;
}

.-ml-xl {
  margin-left: 32px;
}

.-mr-none {
  margin-right: 0;
}

.-mr-xs {
  margin-right: 2px;
}

.-mr-sm {
  margin-right: 4px;
}

.-mr-md {
  margin-right: 8px;
}

.-mr-lg {
  margin-right: 16px;
}

.-mr-xl {
  margin-right: 32px;
}

.-mt-none {
  margin-top: 0;
}

.-mt-xs {
  margin-top: 2px;
}

.-mt-sm {
  margin-top: 4px;
}

.-mt-md {
  margin-top: 8px;
}

.-mt-lg {
  margin-top: 16px;
}

.-mt-xl {
  margin-top: 32px;
}

.-mb-none {
  margin-bottom: 0;
}

.-mb-xs {
  margin-bottom: 2px;
}

.-mb-sm {
  margin-bottom: 4px;
}

.-mb-md {
  margin-bottom: 8px;
}

.-mb-lg {
  margin-bottom: 16px;
}

.-mb-xl {
  margin-bottom: 32px;
}

.-full-width {
  width: 100%;
}

.-full-height {
  height: 100%;
}

.-display-block {
  display: block;
}

.-display-inline-block {
  display: inline-block;
}

.-display-none {
  display: none !important;
}

@color-gold: #f8Bf29;
@color-silver: #c0c0c0;
@color-bronze: #d69872;
@color-iron: #a94442;

@color-marker-red: #ff0000;
@color-marker-orange: #ff7234;
@color-marker-yellow: #f9e527;
@color-marker-green: #03d42c;
@color-marker-blue: #229dff;
@color-marker-purple: #ba3eff;
@color-marker-pink: #ff90e4;

.ranklist {
  .accepted {
    background: #99ff99;
  }

  .failed {
    background: #ff9999;
  }

  .frozen {
    background: #c8d6fa;
  }

  .fb {
    background: #009900;
    color: #fff;
  }

  .fb .attempted {
    color: #f0f0f0;
  }

  .gold {
    border-right: 8px solid @color-gold;
  }

  .silver {
    border-right: 8px solid @color-silver;
  }

  .bronze {
    border-right: 8px solid @color-bronze;
  }

  .iron {
    border-right: 8px solid @color-iron;
  }

  .rows {
    table {
      table-layout: fixed;
      border-spacing: 0;
      border-collapse: collapse;

      thead>tr>th {
        padding: 8px;
        vertical-align: middle;
        border-bottom: 1px solid #ddd;
        min-width: 50px;
      }

      tbody>tr>td {
        padding: 8px;
        border-bottom: 1px solid #ddd;
        vertical-align: middle;
      }
    }
  }

  img {
    max-width: 100%;
  }

  .marker {
    display: inline-block;
    border-radius: 100%;
    width: 12px;
    height: 12px;

    &.marker-red {
      background-color: @color-marker-red;
    }

    &.marker-orange {
      background-color: @color-marker-orange;
    }

    &.marker-yellow {
      background-color: @color-marker-yellow;
    }

    &.marker-green {
      background-color: @color-marker-green;
    }

    &.marker-blue {
      background-color: @color-marker-blue;
    }

    &.marker-purple {
      background-color: @color-marker-purple;
    }
    
    &.marker-pink {
      background-color: @color-marker-pink;
    }
  }
}

a {
  text-decoration: none;
  color: #027eea;

  &:hover {
    text-decoration: underline;
  }
}

#progressbar {
  border-radius: 5px;
  overflow: hidden;
  height: 10px;
  margin: 0 auto;
  margin-top: 40px;
}

#fill {
  border-radius: 5px;
  height: 100%;
  transition: all 1s linear;
  text-align: center;
  background-color: #6caf00;
  color: #ffffff;
}