button {
    border: 1px solid #b9b9b9;
    border-radius: 4px;
    background: white;
    outline: none;
    font-size: 14px;
    padding: 6px 12px
}

button:hover {
    background-color: white // border: solid 1px #46b8da;
}

select {
    border-radius: 4px;
    padding: 6px 12px
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.dropdown-menu {
    position: absolute;
    z-index: 1;
    min-width: 60px;
    padding: 0;
    margin: 2px 0 2px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

li:hover {
    background: #3CB8F0;
}

.dropdown-menu>li {
    padding: 7px 10px;
}